.masthead {
    color:#FFFFFF;
    background-image:url("/images/header.jpg");


    background-repeat:no-repeat;
    background-position: center;
    height:200px;

}


.navbar-new .navbar-nav {
  display: inline-block;
  float: none;

}

.navbar-new {
	  background-color: #D4D4D4;
	  font-style: bold;

}

.navbar-nav{
	font-style: bold;
}

.navbar-new .navbar-collapse {
  text-align: center;
}

.img-whowhatwhere {
	max-width: 200px;
	max-height: 200px;
	margin-top: 5px;
	display: block;
    margin-left: auto;
    margin-right: auto;

}
}

.img-whowhatwhere:hover {

	filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px)
	
}

.wwwText{
	display: inline-block;
	text-align: center;
}

.panel {

}