    .masthead {
    background-image:url("/images/clubLogo.jpg");

    background-image:url("http://placehold.it/600x300");
    background-size: 600px 300px;
    background-repeat:no-repeat;
    background-position: center;
    height: 300px;

	}

	.header-cont{
		background: #FF6501;
		width:100%;
		}

	.body-change{
		padding-top: 70px;
	}

	body{
		background: #FF6501
	}

	td{
		padding-left:10px;
		padding-right:10px;

	}

	.squad-table{


	}

